<launch>


    <include file="$(find farmbeast_simulation)/launch/robot_publisher.launch"/>

    <!-- Robot pose -->
    <arg name="x" default="-4"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="world_name" value="$(find farmbeast_simulation)/world/example.world"/>
    </include>
    
    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model bot -x $(arg x) -y $(arg y) -z $(arg z)
                -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
    <!-- load the controllers -->
    <rosparam file="$(find farmbeast_simulation)/config/robot.yaml" command="load"/>
    <node name="controller_spawner" pkg ="controller_manager" type="spawner" ns="/farmbeast" args="front/left/z_axis
                                                                                                    front/left/wheel 
                                                                                                    front/right/z_axis
                                                                                                    front/right/wheel 
                                                                                                    back/left/z_axis
                                                                                                    back/left/wheel 
                                                                                                    back/right/z_axis
                                                                                                    back/right/wheel  
                                                                                                    joint_state_controller"/>

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <remap from="cloud_in" to="/velodyne_points"/>
      <remap from="scan" to="/camera/scan" />
      <rosparam>

        transform_tolerance: 0.01
        min_height: 0.0
        max_height: 1.0
        
        angle_min: -1.2
        angle_max: 1.2
        range_min: 0.1
        range_max: 10
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 1
      </rosparam>
    </node>

</launch>