<launch>    
        <!-- Robot pose -->
    <arg name="x" default="-4"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.3"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>
        <!-- Rviz config -->
    <arg name="rviz_config" default="$(find farmbeast_simulation)/rviz/config.rviz"/>
        <!-- Robot descripton -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find farmbeast_simulation)/urdf/robot.urdf.xacro" />
        <!-- Running nodes -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        <param name="use_tf_static" value="false"/>
    </node>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(arg rviz_config)" />

</launch>